<header>
  <nav>
    <div class="navigation_logo_and_title">
      <img src="../assets/images/navigation_bar_logo.png">
      <p>VideoGameInfo</p>
    </div>
    <div class="navigation_menu">
      <div class="navigation_menu_item" routerLink="/developers">
        <fa-icon [icon]="faList"></fa-icon>
        <p>Developer List</p>
      </div>
      <div class="navigation_menu_item home_item" routerLink="/home">
        <fa-icon [icon]="faHouse"></fa-icon>
        <p>Home</p>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
