<main>
  <div class="main_content_container">
    <div class="main_title_container">
      <h1>{{pageTitle}}</h1>
      <hr>
    </div>
    <div class="developer_table_container">
      <table class="developer_table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Developer</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Naughty Dog</td>
            <td>Naughty Dog, LLC (formerly JAM Software, Inc.) is an American first-party video game developer based in Santa Monica, California.</td>
            <!-- <td>{{developer.id}}</td>
            <td>{{developer.name}}</td>
            <td>{{developer.description</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
