<main>
    <div class="main_title">
        <h1>Welcome to {{pageTitle}}.</h1>
    </div>
    <div class="main_content">
        <div class="main_description_container">
            <p>
                This web application allows users to see information about video game developers and their released titles.
            </p>
        </div>
        <div class="button_container">
            <button type="button" routerLink="/developers">
              Click here to see the database.
            </button>
        </div>
    </div>
</main>