@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* Google Fonts dependency */

main {    
    text-align: center;
    max-width: 100%;
}

main div h1 {
    margin: 0;
    padding: 20px;
}